table {
  width: 80%;
  margin-top: 30px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

table td,
th {
  border: 2px solid black;
  padding: 15px;
}

table th {
  background-color: rgb(175, 170, 170);
}
